* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-chocolate: #3D2300;
    --rouge: #340700;
    --chocolate: #4E1B00;
    --light-brown: #804527;
    --gold: #B97921;
    --cream: #FFE9B6;
}

body {
    background-color: var(--dark-chocolate);
}

.page-title {
    text-align: center;
    font-family: "UnifrakturCook", cursive;
    color: var(--gold);
    font-size: 4em;
}

.page-subtitle {
    text-align: center;
    font-family: "IM Fell English SC", serif;
    font-size: 2.5em;
    color: var(--light-brown);
}

.page-intro {
     text-align: center;
     font-family: "Cormorant Garamond", serif;
     font-size: 1.2em;
     margin: 0 auto;
     width: 60%;
     color: var(--cream);
}

.page-intro::first-letter {
     text-transform: uppercase;
     font-size: 2em;
}

.add-new-book-btn-container {
    display: flex;
    align-items: center;
    padding: 1.5em;
}

.add-new-book-btn {
    margin: 0 auto;
    border-radius: 18px;
    padding: 0.5em 1em;
    border: solid var(--cream) 1px;
    background-color: var(--gold);
    color: var(--chocolate);
    font-family: "IM Fell English SC", serif;
    font-size: 1.2em;
    box-shadow: 0 0 5px var(--gold);
}

.add-new-book-btn:hover {
    cursor: pointer;
    background-color: var(--chocolate);
    box-shadow: 0 0 5px var(--chocolate);
    color: var(--cream);
}

/*LIBRARY BOOKS CONTAINER*/
#library-container {
    display: flex;
    gap: 1.5em;
    margin: 0 auto;
    width: 70%;
    flex-direction: column;
}

.book-card {
    background-color: var(--light-brown);
    border-radius: 15px;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.book-title {
    font-family: "IM Fell English SC", serif;
    color: var(--cream);
}

.book-author {
   font-family: "IM Fell English SC", serif;
   color: var(--dark-chocolate);
}

.book-pages {
   font-family: "Cormorant Garamond", serif;
   color: var(--cream);
}

.read-status {
    font-family: "Cormorant Garamond", serif;
    color: var(--cream);
}

.delete-book-btn {
    background-color: var(--rouge);
    color: var(--cream);
    font-family: "Cormorant Garamond", serif;
    padding: 0.5em 1em;
    border-radius: 15px;
    border: none;
}

.delete-book-btn:hover {
    cursor: pointer;
    background-color: var(--gold);
    color: var(--dark-chocolate);
}

/*MODAL*/
#add-book-form {
    margin: 12em auto;
    width: 40%;
    padding: 2em;
    border: solid var(--light-brown) 5px;
    background-color: var(--gold);
    border-radius: 20px;
}

.add-book-form-title {
    color: var(--dark-chocolate);
    font-family: "IM Fell English SC", serif;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.text-label {
    font-family: "Cormorant Garamond", serif;
    width: 100%;
    text-transform: uppercase;
}

.text-input {
    border: none;
    border-radius: 10px;
    padding: 0.6em 0.9em;
    width: 100%;
    margin-bottom: 1.5em;
}

.text-input:focus {
    outline: none;
}

/*TOOGLE*/
.form-center-items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.read-status-toogle {
    display: none;
}

.read-toogle-container {
    position: relative;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: fit-content;
   border: 3px solid #343434;
   border-radius: 20px;
   background: #343434;
   font-weight: bold;
   color: white;
   cursor: pointer;
}

.read-toogle-container::before {
    content: '';
   position: absolute;
   width: 50%;
   height: 100%;
   left: 0%;
   border-radius:20px;
   background: white;
   transition: all 0.3s;
}

.toogle-item {
    padding: 6px;
   text-align: center;
   z-index: 1;
}

.read-status-toogle:checked + .read-toogle-container::before {
   left: 50%;
}


/*FINAL BTNS CONTAINER*/

.add-book-form-final-btn-container {
    display: flex;
    gap: 1.5em;
    justify-content: space-evenly;
    margin-top: 1.5em;
}

.final-add-book-btn {
    background-color: var(--cream);
    border: none;
    color: var(--dark-chocolate);
    padding: 0.5em 1.5em;
    border-radius: 15px;
}

.final-add-book-btn:hover {
    cursor: pointer;
    background-color: var(--light-brown);
}

.cancel-add-book-btn {
    background-color: var(--rouge);
    border: none;
    color: var(--cream);
    padding: 0.5em 1.5em;
    border-radius: 15px;
}

.cancel-add-book-btn:hover {
    cursor: pointer;
    background-color: var(--dark-chocolate);
}

