* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-chocolate: #3D2300;
    --rouge: #340700;
    --chocolate: #4E1B00;
    --light-brown: #804527;
    --gold: #B97921;
    --cream: #FFE9B6;
}



.read-status-toogle {
    display: none;
}

.read-toogle-container {
    position: relative;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: fit-content;
   border: 3px solid #343434;
   border-radius: 20px;
   background: #343434;
   font-weight: bold;
   color: white;
   cursor: pointer;
}

.read-toogle-container::before {
    content: '';
   position: absolute;
   width: 50%;
   height: 100%;
   left: 0%;
   border-radius:20px;
   background: white;
   transition: all 0.3s;
}

.toogle-item {
    padding: 6px;
   text-align: center;
   z-index: 1;
}

.read-status-toogle:checked + .read-toogle-container::before {
   left: 50%;
}